<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OMNI - Sistema de Avaliação de Desempenho</title>
    @Styles.Render("~/Styles/css")
    @Styles.Render("~/Styles/bootstrap")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container body-content">
        <div class="navbar navbar-fixed-top fundoAzul">
            <div class="container titulo">
                   <h3>@ViewBag.Title</h3>
            </div>
        </div>
        
        <div class="span12 content-area top100">
            <section id="bread">
                <ul class="breadcrumb">
                    <li>@Html.ActionLink("Administração", "Index", "Home")<span class="divider"></span></li>
                    <li>@Html.ActionLink("Relatórios", "Index", "Relatorios", new { cicloSelecionado = ViewBag.Ciclo }, null)<span class="divider"></span></li>
                    <li class="active">@ViewBag.Title</li>
                    <li class="pull-right">@Html.ActionLink("Sair", "LogOff", "Autenticacao")</li>
                </ul>
            </section>
            @RenderBody()
        </div>
        <footer class="top100">
            <hr />
            <div class="row">
                <div class="col-md-4 text-left">
                    <img src="~/Content/Images/logo_rh.png" alt="Transformação RH" />
                </div>
                <div class="col-md-4 text-center">
                    <p>Todos os direitos reservados a Omni Táxi Aéreo</p>
                    <p>&copy; @DateTime.Now.Year - Desenvolvido por #####</p>
                </div>
                <div class="col-md-4 text-right">
                    <img src="~/Content/Images/logo_omni.png" alt="Transformação RH" />
                </div>
            </div>
        </footer>
    </div>
    <div class="row top50">
        <div class="col-md-095 col-md-offset-005 text-right">
             <input type="button" value="Imprimir" id="btnImprimir"class="btn btn-default" />
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnImprimir').click(function () { window.print();});
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>