
@model AvaliacaoDesempenho.Models.Relatorios.AcompanhamentoGeralViewModel

@{
    ViewBag.Title = "Relatório de Acompanhamento do Processo AD";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

@using (Html.BeginForm("PesquisarAcompanhamentoGeral",
                       "Relatorios",
                       FormMethod.Post,
                       new { @class = "form-horizontal", role = "form" }))
{
    <h4>Ano de Referência: @Model.AnoReferencia</h4>
    
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CicloSelecionado)

    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.DiretoriaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.DiretoriaPesquisada, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.AreaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.AreaPesquisada, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.GestorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.GestorPesquisado, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.ColaboradorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.ColaboradorPesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.CargoPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.CargoPesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-095 col-md-offset-005 text-right">
            <input type="submit" value="Pesquisar" id="btnPesquisar" class="btn btn-default" />
        </div>
    </div>

    <div class="row top30">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Diretoria
                    </th>
                    <th>
                        Area
                    </th>
                    <th>
                        Gestor
                    </th>
                    <th>
                        Nome do Colaborador
                    </th>
                    <th>
                        Matrícula
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        Status do Processo
                    </th>
                    <th>
                        Data da última alteração
                    </th>
                </tr>
                @if (Model.ListaAcompanhamentoGeral != null &&
                Model.ListaAcompanhamentoGeral.Any())
                {
                    for (int i = 0; i < Model.ListaAcompanhamentoGeral.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].Diretoria
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].Area
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].Gestor
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].NomeColaborador
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].Matricula
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].Cargo
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].StatusAvaliacao
                            </td>
                            <td>
                                @Model.ListaAcompanhamentoGeral[i].UltimaAlteracao
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}