@model AvaliacaoDesempenho.Models.Relatorios.GapCompetenciasViewModel
@{
    ViewBag.Title = "Relatório Gap de Competências";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<h4>Ano de Referência: @Model.AnoReferencia</h4>

<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Diretoria
                </th>
                <th>
                    Area
                </th>
                <th>
                    Gestor
                </th>
                <th>
                    Nome do Colaborador
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Tipo de Competência 
                </th>
                <th>
                    Nome da Competência 
                </th>
                <th>
                    Nível Requerido 
                </th>
                <th>
                    Nível Avaliado pelo Gestor
                </th>
                <th>
                    Campo Gap
                </th>
            </tr>
            @if (Model.ListaGapCompetencias != null &&
                Model.ListaGapCompetencias.Any())
            {
                for (int i = 0; i < Model.ListaGapCompetencias.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaGapCompetencias[i].Diretoria
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].Area
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].Gestor
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].NomeColaborador
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].Matricula
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].Cargo
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].TipoCompetencia
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].NomeCompetencia
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].NivelRequirido
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].NivelAvaliadoGestor
                        </td>
                        <td>
                            @Model.ListaGapCompetencias[i].CampoGap
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
