@model AvaliacaoDesempenho.Models.Relatorios.ImpressaoEstruturadaIndividualViewModel

@{
    ViewBag.Title = "Impressão Estruturada";
    ViewBag.Ciclo = Model.CicloAvaliacaoSelecionadoID;
    ViewBag.AcessoGestor = Model.AcessorGestor;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

@Html.Action("CabecalhoColaborador", "Usuarios", new { cicloAvaliacaoSelecionadoID = Model.CicloAvaliacaoSelecionadoID, colaboradorID = Model.ColaboradorID, isRelatorio = true })

<div class="row top20">
    <div class="col-md-025">
        <label>Objetivos</label>
    </div>
    <div class="col-md-025">
        <label>Metas</label>
    </div>
    <div class="col-md-025">
        <label>Resultados Atingidos</label>
    </div>
    <div class="col-md-025">
        <label>Avaliação Gestor</label>
    </div>
</div>

@for (int i = 0; i < Model.ListaObjetivosMetasResultadosatingidosGestorViewModel.Count; i++)
{

    <div class="row top30">
        <div class="col-md-025">
            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaObjetivosMetasResultadosatingidosGestorViewModel[i].Objetivo).Replace("\r\n", "<br />"))</div>
        </div>
        <div class="col-md-025">
            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaObjetivosMetasResultadosatingidosGestorViewModel[i].MetaColaboradorMeta).Replace("\r\n", "<br />"))</div>
        </div>
        <div class="col-md-025">
            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaObjetivosMetasResultadosatingidosGestorViewModel[i].MetaColaboradorResultadoAtingidoColaboradorResultadoAtingido).Replace("\r\n", "<br />"))</div>
        </div>
        <div class="col-md-025">
            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaObjetivosMetasResultadosatingidosGestorViewModel[i].AvaliacaoGestor).Replace("\r\n", "<br />"))</div>
        </div>
    </div>
}
<hr />

<div class="row top20">
    <div class="col-md-100">
        <label>Outras Contribuições</label>
    </div>
</div>

@for (int i = 0; i < Model.ListaOutrasContribuicoesGestorViewModel.Count; i++)
{
    <div class="row top30">
        <div class="col-md-050">
            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaOutrasContribuicoesGestorViewModel[i].Contribuicao).Replace("\r\n", "<br />"))</div>
        </div>
        <div class="col-md-050">
            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaOutrasContribuicoesGestorViewModel[i].AvaliacaoGestor).Replace("\r\n", "<br />"))</div>
        </div>
    </div>
}
<hr />

@if (Model.ListaCompetenciasCorporativas != null && Model.ListaCompetenciasCorporativas.Any())
{
    <div class="row top30">
        <div class="col-md-100">
            <table class="table">
                <tr>
                    <th>
                        Competências Corporativas
                    </th>
                    <th>
                        Colaborador
                    </th>
                    <th>
                        Nível Requerido
                    </th>
                    <th>
                        Gestor
                    </th>
                    <th>
                        Comentário do Gestor
                    </th>
                </tr>
                @for (int i = 0; i < Model.ListaCompetenciasCorporativas.Count; i++)
                {
                    <tr>
                        <td class="col-md-6">
                            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaCompetenciasCorporativas[i].Competencia).Replace("\r\n", "<br />"))</div>
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => Model.ListaCompetenciasCorporativas[i].NivelColaborador, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => Model.ListaCompetenciasCorporativas[i].NivelRequerido, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => model.ListaNivelAvaliacao.FirstOrDefault(x => x.Value == model.ListaCompetenciasCorporativas[i].NivelGestor.ToString()).Text,
                                                new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-3">
                            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaCompetenciasCorporativas[i].ComentarioGestor).Replace("\r\n", "<br />"))</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
}


@if (Model.ListaCompetenciasLideranca != null && Model.ListaCompetenciasLideranca.Any())
{
    <div class="row top20">
        <div class="col-md-100">
            <table class="table">
                <tr>
                    <th>
                        Competências de Liderança
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>

                @for (int i = 0; i < Model.ListaCompetenciasLideranca.Count; i++)
                {
                    <tr>
                        <td class="col-md-6">
                            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaCompetenciasLideranca[i].Competencia).Replace("\r\n", "<br />"))</div>
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => Model.ListaCompetenciasLideranca[i].NivelColaborador, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => Model.ListaCompetenciasLideranca[i].NivelRequerido, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => model.ListaNivelAvaliacao.FirstOrDefault(x => x.Value == model.ListaCompetenciasLideranca[i].NivelGestor.ToString()).Text,
                                                new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-3">
                            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaCompetenciasLideranca[i].ComentarioGestor).Replace("\r\n", "<br />"))</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
}

@if (Model.ListaCompetenciasFuncionais != null && Model.ListaCompetenciasFuncionais.Any())
{
    <div class="row top20">
        <div class="col-md-100">
            <table class="table">
                <tr>
                    <th>
                        Competências Funcionais
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
                @for (int i = 0; i < Model.ListaCompetenciasFuncionais.Count; i++)
                {
                    <tr>
                        <td class="col-md-6">
                            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaCompetenciasFuncionais[i].Competencia).Replace("\r\n", "<br />"))</div>
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => Model.ListaCompetenciasFuncionais[i].NivelColaborador, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => Model.ListaCompetenciasFuncionais[i].NivelRequerido, new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-1">
                            @Html.TextBoxFor(model => model.ListaNivelAvaliacao.FirstOrDefault(x => x.Value == model.ListaCompetenciasFuncionais[i].NivelGestor.ToString()).Text,
                                                new { @class = "form-control", @readonly = "readonly" })
                        </td>
                        <td class="col-md-3">
                            <div class="text_area_print">@Html.Raw(Html.Encode(Model.ListaCompetenciasFuncionais[i].ComentarioGestor).Replace("\r\n", "<br />"))</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <hr />
}

<div class="row top20">
    <div class="col-md-100">
        <table class="table">
            <tr>
                <th>
                    Avaliação da performance Geral
                </th>
            </tr>
            <tr>
                <td>
                    <div class="text_area_print">@Html.Raw(Html.Encode(Model.AvaliacaoPerformanceGerais.AvaliacaoPerformanceGeral).Replace("\r\n", "<br />"))</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr />

<label>Recomendação</label>

<div class="row top20">
    <div class="col-md-050">
        <label>Classificação de Desempenho</label>
    </div>
    <div class="col-md-050">
        @if (Model.ItemRecomendacaoColaborador.RatingFinalPosCalibragem == null)
        {
            @Html.TextBox("Model.ItemRecomendacaoColaborador.RatingFinalPosCalibragem", string.Empty, new { @class = "form-control", @readonly = "readonly" })
        }
        else
        {
            @Html.TextBoxFor(model => Model.ListaRecomendacaoDeRating.FirstOrDefault(x => x.Value == Model.ItemRecomendacaoColaborador.RatingFinalPosCalibragem.Value.ToString()).Text,
                                                new { @class = "form-control", @readonly = "readonly" })
        }
    </div>
</div>
<hr />
<br />
<div class="row top20">
    <div class="col-md-100">
        <label>PDI - Plano de Desenvolvimento Individual</label>
    </div>
</div>
<hr />
<h3>Formações atuais</h3>
<div class="row top30">
    <div class="col-md-030">
        @Html.LabelFor(model => model.PDI.Idiomas, new { @class = "control-label" })
    </div>
    <div class="col-md-070">
        @Html.LabelFor(model => model.PDI.Graduacao, new { @class = "control-label" })
    </div>
</div>
<div class="row">
    <div class="col-md-030">
        <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.Idiomas).Replace("\r\n", "<br />"))</div>
    </div>
    <div class="col-md-070">
        <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.Graduacao).Replace("\r\n", "<br />"))</div>
    </div>
</div>
<hr />
<h3>Plano de Desenvolvimento</h3>
<div class="row top30">
    <div class="col-md-100">
        @Html.LabelFor(model => model.PDI.PontosFortes, new { @class = "control-label" })
    </div>
</div>
<div class="row">
    <div class="col-md-100">
        <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.PontosFortes).Replace("\r\n", "<br />"))</div>
    </div>
</div>
<div class="row top20">
    <div class="col-md-100">
        @Html.LabelFor(model => model.PDI.PontosDesenvolvimento, new { @class = "control-label" })
    </div>
</div>
<div class="row">
    <div class="col-md-100">
        <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.PontosDesenvolvimento).Replace("\r\n", "<br />"))</div>
    </div>
</div>
<hr />
@if (Model.PDI.ListaDesenvolvimentoCompetenciaViewModel != null && Model.PDI.ListaDesenvolvimentoCompetenciaViewModel.Any())
{
    for (int i = 0; i < Model.PDI.ListaDesenvolvimentoCompetenciaViewModel.Count; i++)
    {
        <div class="row top30">
            <div class="col-md-050">
                @Html.HiddenFor(model => model.PDI.ListaDesenvolvimentoCompetenciaViewModel[i].ID)
                @Html.LabelFor(model => model.PDI.ListaDesenvolvimentoCompetenciaViewModel[i].AcaoDesenvolvimento, new { @class = "control-label", @style = "text-align:left" })
            </div>
            <div class="col-md-050">
                @Html.LabelFor(model => model.PDI.ListaDesenvolvimentoCompetenciaViewModel[i].RecursoSuporte, new { @class = "control-label" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-050">
                <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.ListaDesenvolvimentoCompetenciaViewModel[i].AcaoDesenvolvimento).Replace("\r\n", "<br />"))</div>
            </div>
            <div class="col-md-050">
                <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.ListaDesenvolvimentoCompetenciaViewModel[i].RecursoSuporte).Replace("\r\n", "<br />"))</div>
            </div>
        </div>
    }
}
<div class="row top30">
    <div class="col-md-100">
        @Html.LabelFor(model => model.PDI.ComentariosColaborador, new { @class = "control-label" })
    </div>
</div>
<div class="row">
    <div class="col-md-100">
        <div class="text_area_print">@Html.Raw(Html.Encode(Model.PDI.ComentariosColaborador).Replace("\r\n", "<br />"))</div>
    </div>
</div>