@model AvaliacaoDesempenho.Models.Relatorios.RatingFinalRHViewModel
@{
    ViewBag.Title = "Relatório de Rating Final e Indicação de Promoção - RH";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<h4>Ano de Referência: @Model.AnoReferencia</h4>
@using (Html.BeginForm("PesquisarRatingFinalRH",
                       "Relatorios",
                       FormMethod.Post,
                       new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CicloSelecionado)

    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.DiretoriaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.DiretoriaPesquisada, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.AreaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.AreaPesquisada, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.GestorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.GestorPesquisado, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.ColaboradorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.ColaboradorPesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.CargoPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.CargoPesquisado, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.LocalidadePesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.LocalidadePesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.RecomendacaoDeRatingPesquisado, new { @class = "control-label", @style = "text-align: left" })
        </div>
        <div class="col-md-035">
            @Html.DropDownListFor(model => Model.RecomendacaoDeRatingPesquisado,
                                                   new SelectList(Model.ListaRecomendacaoDeRating,
                                                             "Value",
                                                             "Text",
                                                Model.RecomendacaoDeRatingPesquisado),
                                                             " ",
                                                     new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.IndicacaoDePromocaoPesquisado, new { @class = "control-label", @style = "text-align: left" })
        </div>
        <div class="col-md-035">
            @Html.DropDownListFor(model => Model.IndicacaoDePromocaoPesquisado,
                                                   new SelectList(Model.ListaSimNao,
                                                             "Value",
                                                             "Text",
                                                Model.IndicacaoDePromocaoPesquisado),
                                                             " ",
                                                     new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-095 col-md-offset-005 text-right">
            <input type="submit" value="Pesquisar" id="btnPesquisar" class="btn btn-default" />
        </div>
    </div>
}
<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Diretoria
                </th>
                <th>
                    Area
                </th>
                <th>
                    Gestor
                </th>
                <th>
                    Nome do Colaborador
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Localidade
                </th>
                <th>
                    Data de Admissão 
                </th>
                <th>
                    Tempo de Casa
                </th>
                <th>
                    Rating Final 
                </th>
                <th>
                    Indicação Final a Promoção
                </th>
            </tr>
            @if (Model.ListaRatingFinalRH != null &&
                Model.ListaRatingFinalRH.Any())
            {
                for (int i = 0; i < Model.ListaRatingFinalRH.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaRatingFinalRH[i].Diretoria
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Area
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Gestor
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].NomeColaborador
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Matricula
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Cargo
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Localidade
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].DataAdmissao
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].TempoCasa
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].RatingFinal
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].IndicacaoFinalPromocao
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
