@model AvaliacaoDesempenho.Models.Relatorios.RatingFinalRHViewModel
@{
    ViewBag.Title = "Relatório de Rating Final e Indicação de Promoção - RH";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<h4>Ano de Referência: @Model.AnoReferencia</h4>

<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Diretoria
                </th>
                <th>
                    Area
                </th>
                <th>
                    Gestor
                </th>
                <th>
                    Nome do Colaborador
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Localidade
                </th>
                <th>
                    Data de Admissão 
                </th>
                <th>
                    Tempo de Casa
                </th>
                <th>
                    Rating Final 
                </th>
                <th>
                    Indicação Final a Promoção
                </th>
            </tr>
            @if (Model.ListaRatingFinalRH != null &&
                Model.ListaRatingFinalRH.Any())
            {
                for (int i = 0; i < Model.ListaRatingFinalRH.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaRatingFinalRH[i].Diretoria
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Area
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Gestor
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].NomeColaborador
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Matricula
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Cargo
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].Localidade
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].DataAdmissao
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].TempoCasa
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].RatingFinal
                        </td>
                        <td>
                            @Model.ListaRatingFinalRH[i].IndicacaoFinalPromocao
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
