@model AvaliacaoDesempenho.Models.Relatorios.RatingFinalColaboradorViewModel
@{
    ViewBag.Title = "Relatório de Rating Final - ao Colaborador";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}
@using (Html.BeginForm("PesquisarRatingFinalColaborador",
                       "Relatorios",
                       FormMethod.Post,
                       new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CicloSelecionado)

    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.DiretoriaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.DiretoriaPesquisada, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.AreaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.AreaPesquisada, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.GestorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.GestorPesquisado, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.ColaboradorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.ColaboradorPesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-095 col-md-offset-005 text-right">
            <input type="submit" value="Pesquisar" id="btnPesquisar" class="btn btn-default" />
        </div>
    </div>
}
<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Data
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Nome do Ciclo
                </th>
                <th>
                    Rating Final após Calibragem
                </th>
                <th>
                    Gestor
                </th>
            </tr>
            @if (Model.ListaRatingFinalColaborador != null &&
                Model.ListaRatingFinalColaborador.Any())
            {
                for (int i = 0; i < Model.ListaRatingFinalColaborador.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaRatingFinalColaborador[i].Data
                        </td>
                        <td>
                            @Model.ListaRatingFinalColaborador[i].Nome
                        </td>
                        <td>
                            @Model.ListaRatingFinalColaborador[i].Matricula
                        </td>
                        <td>
                            @Model.ListaRatingFinalColaborador[i].NomeCiclo
                        </td>
                        <td>
                            @Model.ListaRatingFinalColaborador[i].RatingFinalAposCalibragem
                        </td>
                        <td>
                            @Model.ListaRatingFinalColaborador[i].Gestor
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>