@model AvaliacaoDesempenho.Models.Relatorios.RelatorioPDIViewModel
@{
    ViewBag.Title = "Relatório PDI";
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<h2>Ano de Referência: @Model.AnoReferencia</h2>

<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Diretoria
                </th>
                <th>
                    Area
                </th>
                <th>
                    Gestor
                </th>
                <th>
                    Nome do Colaborador
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Idiomas
                </th>
                <th>
                    Graduação 
                </th>
                <th>
                    Ações de Desenvolvimento
                </th>
            </tr>
            @if (Model.ListaRelatorioPDI != null &&
                Model.ListaRelatorioPDI.Any())
            {
                for (int i = 0; i < Model.ListaRelatorioPDI.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaRelatorioPDI[i].Diretoria
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Area
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Gestor
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].NomeColaborador
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Matricula
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Cargo
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Idiomas
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Graduacao
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].AcoesDesenvolvimento
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
