@model AvaliacaoDesempenho.Models.Relatorios.RelatorioPDIViewModel
@{
    ViewBag.Title = "Relatório PDI";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<h4>Ano de Referência: @Model.AnoReferencia</h4>
@using (Html.BeginForm("PesquisarRelatorioPDI",
                       "Relatorios",
                       FormMethod.Post,
                       new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    @Html.HiddenFor(model => model.CicloSelecionado)

    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.DiretoriaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.DiretoriaPesquisada, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.AreaPesquisada, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.AreaPesquisada, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.GestorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.GestorPesquisado, new { @class = "form-control" })
        </div>
        <div class="col-md-015">
            @Html.LabelFor(model => model.ColaboradorPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.ColaboradorPesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-015">
            @Html.LabelFor(model => model.CargoPesquisado, new { @class = "control-label" })
        </div>
        <div class="col-md-035">
            @Html.EditorFor(model => model.CargoPesquisado, new { @class = "form-control" })
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-095 col-md-offset-005 text-right">
            <input type="submit" value="Pesquisar" id="btnPesquisar" class="btn btn-default" />
        </div>
    </div>
}
<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Diretoria
                </th>
                <th>
                    Area
                </th>
                <th>
                    Gestor
                </th>
                <th>
                    Nome do Colaborador
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Idiomas
                </th>
                <th>
                    Graduação 
                </th>
                <th>
                    Ações de Desenvolvimento
                </th>
            </tr>
            @if (Model.ListaRelatorioPDI != null &&
                Model.ListaRelatorioPDI.Any())
            {
                for (int i = 0; i < Model.ListaRelatorioPDI.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaRelatorioPDI[i].Diretoria
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Area
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Gestor
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].NomeColaborador
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Matricula
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Cargo
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Idiomas
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].Graduacao
                        </td>
                        <td>
                            @Model.ListaRelatorioPDI[i].AcoesDesenvolvimento
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
