
@model AvaliacaoDesempenho.Models.Relatorios.ReuniaoCalibragemViewModel

@{
    ViewBag.Title = "Relatório para Reunião de Calibragem";
    ViewBag.Ciclo = Model.CicloSelecionado;
    Layout = "~/Views/Shared/_LayoutRelatorio.cshtml";
}

<h4>Ano de Referência: @Model.AnoReferencia</h4>

<div class="row top30">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Diretoria
                </th>
                <th>
                    Area
                </th>
                <th>
                    Gestor
                </th>
                <th>
                    Nome do Colaborador
                </th>
                <th>
                    Matrícula
                </th>
                <th>
                    Cargo
                </th>
                <th>
                    Localidade
                </th>
                <th>
                    Data de admissão
                </th>
                <th>
                    Tempo de Casa
                </th>
                <th>
                    Recomendação de Rating
                </th>
                <th>
                    Indicação de Promoção
                </th>
                <th>
                    Performance Geral
                </th>
            </tr>
            @if (Model.ListaReuniaoCalibragem != null &&
                Model.ListaReuniaoCalibragem.Any())
            {
                for (int i = 0; i < Model.ListaReuniaoCalibragem.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].Diretoria
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].Area
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].Gestor
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].NomeColaborador
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].Matricula
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].Cargo
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].Localidade
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].DataAdmissao
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].TempoDeCasa
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].RecomendacaoDeRating
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].IndicacaoDePromocao
                        </td>
                        <td>
                            @Model.ListaReuniaoCalibragem[i].PerformanceGeral
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
