@using AvaliacaoDesempenho.Dominio.BusinessEntities;

@model AvaliacaoDesempenho.Models.Avaliacoes.GestaoAvaliacaoColaboradorViewModel

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<section id="bread">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Administração", "Index", "Home")<span class="divider"></span></li>
        <li class="active">Avaliação</li>
        <li class="pull-right">@Html.ActionLink("Sair", "LogOff", "Autenticacao")</li>
    </ul>
</section>

@Html.Action("SelecaoCicloAvaliacao", "CiclosAvaliacao", new { cicloAvaliacaoSelecionadoID = Model.CicloAvaliacaoSelecionadoID })

@{
    const string MENSAGEM_SEM_AVALIACAO_NO_CICLO = "Você ainda não iniciou a sua avaliação. Clique aqui para iniciar.";
}

@if (Model.ParticipaDaAvaliacao)
{
    <h4>
        Sua avaliação de desempenho
    </h4>
    <div class="pull-right">
        @Html.ActionLink("Início", "Index", "Home")
        @if (Model.OrientacaoCompetencia != null)
        {
            <label>&nbsp;&nbsp;|&nbsp;&nbsp;</label><a href="@Model.OrientacaoCompetencia" target="_blank">Ajuda</a>
        }
    </div>
    <div class="row top30">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Data de criação
                    </th>
                    <th>
                        Situação
                    </th>
                </tr>
                <tr>
                    @if (!string.IsNullOrEmpty(Model.DataCriacao))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => Model.DataCriacao)
                        </td>
                        <td>
                            @Html.ActionLink(Model.StatusAvaliacaoColaboradorNome, "RotearManutencaoAvaliacaoColaborador", new { id = Model.CicloAvaliacaoSelecionadoID })
                        </td>
                    }
                    else
                    {
                        <td>
                            ---
                        </td>
                        if (!Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.Encerrada))
                        {
                            <td>
                                @Html.ActionLink(MENSAGEM_SEM_AVALIACAO_NO_CICLO, "RotearManutencaoAvaliacaoColaborador", new { id = Model.CicloAvaliacaoSelecionadoID })
                            </td>
                        }
                        else
                        {
                            <td>---</td>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>
}
@if (Model.ListaGestaoAvaliacaoColaboradorViewModel != null
        && Model.ListaGestaoAvaliacaoColaboradorViewModel.Any())
{
    <h4>
        Avaliações dos seus colaboradores
    </h4>
    <div class="row top30">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Data de criação
                    </th>
                    <th>
                        Nome do Colaborador
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        Situação
                    </th>
                </tr>
                @foreach (var item in Model.ListaGestaoAvaliacaoColaboradorViewModel)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        </td>
                        <td>
                            @Html.ActionLink(item.UsuarioNome, "RotearManutencaoAvaliacaoColaborador", new { id = Model.CicloAvaliacaoSelecionadoID, colaboradorID = item.UsuarioID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusAvaliacaoColaboradorNome)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
@if (Model.ParticipaDaAvaliacao)
{
    <hr />
    <h4>
        Seu PDI
    </h4>
    <div class="pull-right">
        @Html.ActionLink("Início", "Index", "Home")
    </div>
    <div class="row top30">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Data de criação
                    </th>
                    <th>
                        Situação
                    </th>
                </tr>
                <tr>
                    @if (!string.IsNullOrEmpty(Model.DataCriacaoPDI))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => Model.DataCriacaoPDI)
                        </td>
                        <td>
                            @Html.ActionLink(Model.StatusPDINome, "ManterAvaliacaoPDIColaborador", new { id = Model.CicloAvaliacaoSelecionadoID })
                        </td>
                    }
                    else
                    {
                        <td>
                            ---
                        </td>
                        if (!Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.Encerrada))
                        {
                            <td>
                                @Html.ActionLink(MENSAGEM_SEM_AVALIACAO_NO_CICLO, "ManterAvaliacaoPDIColaborador", new { id = Model.CicloAvaliacaoSelecionadoID })
                            </td>
                        }
                        else
                        {
                            <td>---</td>
                        }
                    }
                </tr>
            </table>
        </div>
    </div>

}

@if (Model.ListaGestaoAvaliacaoPDIColaboradorViewModel != null
     && Model.ListaGestaoAvaliacaoPDIColaboradorViewModel.Any())
{
    <h4>PDI dos seus colaboradores
    </h4>
    <div class="row top30">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        Data de criação
                    </th>
                    <th>
                        Nome do Colaborador
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        Situação
                    </th>
                </tr>
                @foreach (var item in Model.ListaGestaoAvaliacaoPDIColaboradorViewModel)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCriacao)
                        </td>
                        <td>
                            @Html.ActionLink(item.UsuarioNome, "ManterAvaliacaoPDIColaborador", new { id = Model.CicloAvaliacaoSelecionadoID, colaboradorID = item.UsuarioID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusAvaliacaoPDIColaboradorNome)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

@if (!Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.Encerrada) &&
    !Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.Criada) &&
    !Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.EmAvaliacaoPelosRH) &&
    !Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.ObjetivosMetasDefinidos))
{
    if ((Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.DefinicaoObjetivosMetas) && !Model.ExibirObjetivosMetas) ||
        (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.AutoAvaliacao) && !Model.ExibirAutoAvaliacao) ||
        (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.EmAvaliacaoPelosGestores) && !Model.ExibirAvaliacaoGestor))
    {
        <div id="pop-up" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            @if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.DefinicaoObjetivosMetas))
                            {
                                @Model.TituloOrientacaoObjetivosMetas
                            }
                            else if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.AutoAvaliacao))
                            {
                                @Model.TituloOrientacaoAutoAvaliacao
                            }
                            else if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.EmAvaliacaoPelosGestores))
                            {
                                @Model.TituloOrientacaoAvaliacaoGestor
                            }
                        </h4>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.CicloAvaliacaoSelecionadoID.Value)
                        @if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.DefinicaoObjetivosMetas))
                        {
                            @Html.TextAreaFor(model => Model.TextoOrientacaoObjetivosMetas, new { @class = "form-control", @rows = "20" })
                        }
                        else if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.AutoAvaliacao))
                        {
                            @Html.TextAreaFor(model => Model.TextoOrientacaoAutoAvaliacao, new { @class = "form-control", @rows = "20" })
                        }
                        else if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.EmAvaliacaoPelosGestores))
                        {
                            @Html.TextAreaFor(model => Model.TextoOrientacaoAvaliacaoGestor, new { @class = "form-control", @rows = "20" })
                        }
                        @if (!string.IsNullOrEmpty(Model.URLCompetencia))
                        {
                            <a href="@Model.URLCompetencia" target="_blank">Baixe aqui o guia de competências</a>
                        }
                        @if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.DefinicaoObjetivosMetas))
                        {
                            <br />
                            <h5>
                                @Html.CheckBox("chkExibirObjetivosMetas", new { @class = "chk-style" })
                                Não exibir novamente
                            </h5>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#chkExibirObjetivosMetas').change(function () {
                                        if ($("#chkExibirObjetivosMetas").prop('checked')) {
                                            $.cookie("ExibirObjetivosMetas" + $('#CicloAvaliacaoSelecionadoID').val(), 'true');
                                        } else {
                                            $.cookie("ExibirObjetivosMetas" + $('#CicloAvaliacaoSelecionadoID').val(), null);
                                        }
                                    });
                                });
                            </script>
                        }
                        else if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.AutoAvaliacao))
                        {
                            <br />
                            <h5>
                                @Html.CheckBox("chkExibirAutoAvaliacao", new { @class = "chk-style" })
                                Não exibir novamente
                            </h5>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#chkExibirAutoAvaliacao').change(function () {
                                        if ($("#chkExibirAutoAvaliacao").prop('checked')) {
                                            $.cookie("ExibirAutoAvaliao" + $('#CicloAvaliacaoSelecionadoID').val(), 'true');
                                        } else {
                                            $.cookie("ExibirAutoAvaliao" + $('#CicloAvaliacaoSelecionadoID').val(), null);
                                        }
                                    });
                                });
                            </script>
                        }
                        else if (Model.SituacaoCicloAvaliacaoID.Equals((int)Enumeradores.SituacaoCicloAvaliacao.EmAvaliacaoPelosGestores))
                        {
                            <br />
                            <h5>
                                @Html.CheckBox("chkExibirAvaliacaoGestor", new { @class = "chk-style" })
                                Não exibir novamente
                            </h5>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#chkExibirAvaliacaoGestor').change(function () {
                                        if ($("#chkExibirAvaliacaoGestor").prop('checked')) {
                                            $.cookie("ExibirAvaliacaoGestor" + $('#CicloAvaliacaoSelecionadoID').val(), 'true');
                                        } else {
                                            $.cookie("ExibirAvaliacaoGestor" + $('#CicloAvaliacaoSelecionadoID').val(), null);
                                        }
                                    });
                                });
                            </script>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#pop-up').modal('show');
            });
        </script>
    }
}