@using AvaliacaoDesempenho.Dominio.BusinessEntities;

@model AvaliacaoDesempenho.Models.Avaliacoes.ManterAvaliacaoColaboradorRecomendacaoViewModel

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

@Html.Action("CabecalhoColaborador", "Usuarios", new { cicloAvaliacaoSelecionadoID = Model.CicloAvaliacaoSelecionadoID })



<label>Recomendação</label>
<hr />

@using (Html.BeginForm("ManterAvaliacaoColaboradorRecomendacao",
                              "Avaliacoes",
                              FormMethod.Post,
                              new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    
    <div class="row top20">
        <div class="col-md-100">
            <div class="col-md-025">
                <label>Recomendação de Rating</label>
            </div>
            <div class="col-md-025">
                @Html.DropDownListFor(model => Model.AvaliacaoPerformanceGerais.RecomendacaoDeRating,
                                               new SelectList(Model.ListaRecomendacaoDeRating,
                                                         "Value",
                                                         "Text",
                                                         Model.AvaliacaoPerformanceGerais.RecomendacaoDeRating),
                                                         " ",
                                                         new { @class = "form-control" })
            </div>
            <div class="col-md-025">
                <label>Recomendação de Promoção</label>
            </div>
            <div class="col-md-025">
                @Html.DropDownListFor(model => Model.AvaliacaoPerformanceGerais.RecomendacaoDePromocao,
                                               new SelectList(Model.ListaRecomendacaoDeRating,
                                                         "Value",
                                                         "Text",
                                                         Model.AvaliacaoPerformanceGerais.RecomendacaoDePromocao),
                                                         " ",
                                                         new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row top20">
        <div class="col-md-100">
            <label>Justificativa</label>
        </div>
        <div class="col-md-100">
            @Html.TextAreaFor(model => Model.AvaliacaoPerformanceGerais.Justificativa, new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row top20">
        <div class="col-md-095 col-md-offset-005 text-right">
            @Html.ActionLink("Anterior", "ManterAvaliacaoColaboradorPerformance", new { id = Model.CicloAvaliacaoSelecionadoID, colaboradorID = Model.ColaboradorID, etapaAutoAvaliacao = 1 }, new { @class = "btn btn-default" })

            <input type="submit" value="Salvar" class="btn btn-default" />

            @if (Model.StatusAvaliacaoColaboradorID == (int)Enumeradores.StatusAvaliacaoColaborador.EmAvaliacaoPelosGestores)
            {
                @Html.ActionLink("Submeter ao RH", "SubmeterAutoAvaliacaoColaboradorAvaliacaoGestor", new { cicloAvaliacaoSelecionadoID = Model.CicloAvaliacaoSelecionadoID, avaliacaoColaboradorID = Model.AvaliacaoColaboradorID }, new { @class = "btn btn-default" })
            }
        </div>
    </div>
}