@using AvaliacaoDesempenho.Dominio.BusinessEntities;

@model AvaliacaoDesempenho.Models.Avaliacoes.ManterAvaliacaoColaboradorPerformanceViewModel

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

@Html.Action("CabecalhoColaborador", "Usuarios", new { cicloAvaliacaoSelecionadoID = Model.CicloAvaliacaoSelecionadoID })

<label>Performance</label>
<hr />

@using (Html.BeginForm("ManterAvaliacaoColaboradorPerformance",
                              "Avaliacoes",
                              FormMethod.Post,
                              new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger" })

    
    <div class="row top20">
            <div class="col-md-100">
                <table class="table">
                    <tr>
                        <th>
                            Avaliação da performance Geral
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.HiddenFor(model => Model.AvaliacaoPerformanceGerais.ID)
                            @Html.HiddenFor(model => Model.CicloAvaliacaoSelecionadoID)
                            @Html.HiddenFor(model => Model.AvaliacaoColaboradorID)
                            @Html.HiddenFor(model => Model.ColaboradorID)
                            @if (Model.StatusAvaliacaoColaboradorID == (int)Enumeradores.StatusAvaliacaoColaborador.EmAvaliacaoPelosRH)
                            {
                                @Html.TextAreaFor(model => Model.AvaliacaoPerformanceGerais.AvaliacaoPerformanceGeral, new { @class = "form-control", @readonly = "readonly" })
                            }
                            else 
                            { 
                                @Html.TextAreaFor(model => Model.AvaliacaoPerformanceGerais.AvaliacaoPerformanceGeral, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => Model.AvaliacaoPerformanceGerais.AvaliacaoPerformanceGeral, string.Empty, new { @class = "text-danger" })
                            }
                        </td>
                    </tr>
                </table>
            </div>
   </div>

   <div class="row top20">
        <div class="col-md-095 col-md-offset-005 text-right">
            @Html.ActionLink("Anterior", "ManterAvaliacaoColaboradorCompetencias", new { id = Model.CicloAvaliacaoSelecionadoID, colaboradorID = Model.ColaboradorID }, new { @class = "btn btn-default" })
            @if (Model.StatusAvaliacaoColaboradorID == (int)Enumeradores.StatusAvaliacaoColaborador.EmAvaliacaoPelosGestores)
            {
                <input type="submit" value="Salvar" class="btn btn-default" />
            }
            @Html.ActionLink("Próxima Etapa", "ManterAvaliacaoColaboradorRecomendacao", new { id = Model.CicloAvaliacaoSelecionadoID, colaboradorID = Model.ColaboradorID }, new { @class = "btn btn-default" })
        </div>
    </div>

}