@using AvaliacaoDesempenho.Dominio.BusinessEntities

@model AvaliacaoDesempenho.Models.CiclosAvaliacao.GestaoCiclosAvaliacaoViewModel

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<section id="bread">
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Administração", "Index", "Home")<span class="divider"></span></li>
        <li class="active">Gerenciamento de ciclos de avaliação</li>
        <li class="pull-right">@Html.ActionLink("Sair", "LogOff", "Autenticacao")</li>
    </ul>
</section>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    Data de Início
                </th>
                <th>
                    Data de Fim
                </th>
                <th>
                    Situação
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.CiclosAvaliacao)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Descricao, "ManterCicloAvaliacao", new { id = item.ID, acaoPagina = Enumeradores.AcaoPagina.Visualizar })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicioVigencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFimVigencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SituacaoCicloAvaliacaoNome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "ManterCicloAvaliacao", new { id = item.ID, acaoPagina = Enumeradores.AcaoPagina.Editar })
                    </td>
                </tr>
            }
        </table>

        <p>
            @Html.ActionLink("Criar um novo ciclo", "ManterCicloAvaliacao", null, new { @class = "pull-right btn btn-default" })
        </p>
    </div>
</div>